<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask About</title>
</head>
<body>
    <h2>This is my about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem maiores commodi id enim impedit est voluptate. Tenetur modi, obcaecati vel aut quibusdam nihil molestiae enim veniam blanditiis, ipsum voluptatibus totam nesciunt. Molestias, tenetur quae?</p>
</body>
</html>