<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask App</title>
</head>
<body>
  <h1>Hello, this is index.html</h1>
  <p>Hello, {{ val }} of color {{ val1 }}</p>
  <p>List contents:</p>
  <ul>
    {% for item in list %}
      <li {% if item%2 == 0 %}style="color: red"{% endif %} > {{ item }} </li>
    {% endfor %}
  </ul>
  <img src="{{ url_for('static', filename='imgs/nami.jpg') }}" alt="Nami" width="80%" height="500">
</body>
</html>