{% extends 'base.html' %}

{% block title %}Schools{% endblock %}

{% block content %}
  <h1>Schools</h1>
  Test Content for Forms
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" 
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Search School</button>
  </form>
  {% if schools %}
    <h2>Schools Available:</h2>
    <ul>
      {% for school in schools %}
        <li> {{ school.name }} - {{ school.location }} </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}